<div class="container" id="contact">
<div class="row">
  <div class="col-lg-6  col-sm-6">
      <div id="wufoo-z79xr3912f5gvv">
      </div>
      <script type="text/javascript">var z79xr3912f5gvv;(function(d, t) {
      var s = d.createElement(t), options = {
      'userName':'platformacrm',
      'formHash':'z79xr3912f5gvv',
      'autoResize':true,
      'height':'443',
      'async':true,
      'host':'wufoo.com',
      'header':'show',
      'ssl':true};
      s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
      s.onload = s.onreadystatechange = function() {
      var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
      try { z79xr3912f5gvv = new WufooForm();z79xr3912f5gvv.initialize(options);z79xr3912f5gvv.display(); } catch (e) {}};
      var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
      })(document, 'script');</script>
  </div>
  <div class="col-lg-6  col-sm-6">
    
    <div class="clearfix"></div>
    <h2 class="section-heading">Skontaktuj się z nami</h2>
    <p class="lead">Nie masz systemu a chcesz usprawnić procesy w obszarach: </p>
    <p class="lead">Magazynu, Zaopatrzenia, Produkcji, Serwisu, Handlu, obsłudze klienta.</p>
    <p class="lead">Masz system ale jest wolny, trudny w użytkownaniu, nieczytelny, nie spełnia Twoich oczekiwań.</p>
    
    
    <p class="lead">Wypełnij formularz</p>
    <p>Zaprezentujemy produkt zdalnie lub na miejscu w Twojej firmie.</p>
  </div>
</div>
</div>
<div class="banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <ul class="list-inline">
                    <li>
                        <a href="#home" style="color:white">Home</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="mailto:bst@makolab.pl" style="color:white">Email us</a>
                    </li>
                     <li class="footer-menu-divider">&sdot;</li>
                     <li><a href="callto:+48426837472" style="color:white">+48 42 683 74 72</a></li>
                </ul>
                 <ul class="list-inline">
                    <li>
                        Operator usługi: Makolab S.A.
                    </li>
                </ul>
            </div>
            <div class="col-lg-6">
                 <p class="copyright text-right">Copyright &copy; {{ site.title }} All Rights Reserved</p>
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.banner -->
