<div class="container">
<div class="row">
  <div class="col-lg-6  col-sm-6">
      <div id="wufoo-z79xr3912f5gvv">
      </div>
      <script type="text/javascript">var z79xr3912f5gvv;(function(d, t) {
      var s = d.createElement(t), options = {
      'userName':'platformacrm',
      'formHash':'z79xr3912f5gvv',
      'autoResize':true,
      'height':'443',
      'async':true,
      'host':'wufoo.com',
      'header':'show',
      'ssl':true};
      s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
      s.onload = s.onreadystatechange = function() {
      var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
      try { z79xr3912f5gvv = new WufooForm();z79xr3912f5gvv.initialize(options);z79xr3912f5gvv.display(); } catch (e) {}};
      var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
      })(document, 'script');</script>
  </div>
  <div class="col-lg-6  col-sm-6">
    <hr class="section-heading-spacer">
    <div class="clearfix"></div>
    <h2 class="section-heading">Największe firmy w swoich branżach korzystają z platformyCRM</h2>
    <p>Jeśli chcesz usprawnić procesy w obszarach</p>
    <p class="lead">Magazynu, Zaopatrzenia, Produkcji, Serwisu, Handlu </p>
    <p class="lead">Masz problemy z wolnym systemem </p>
    <p class="lead">Twój system jest trudny w użytkownaniu, nieczytelny
    <p class="lead">Wypełnij formularz,</p>
  </div>
</div>
</div>
<div class="banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                < <ul class="list-inline">
                    <li>
                        <a href="#home">Home</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="mailto:marcin.kotynia@makolab.net">Email us</a>
                    </li>
                     <li class="footer-menu-divider">&sdot;</li>
                     <li><a href="callto:+48603099116">+48 603 099 116</a></li>
                     <li class="footer-menu-divider">&sdot;</li>
                     <li><a href="callto:+48426837472">+48 42 683 74 72</a></li>
                </ul>
            </div>
            <div class="col-lg-6">
                 <p class="copyright">Copyright &copy; {{ site.title }} All Rights Reserved</p>
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.banner -->
