<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline">
                    <li>
                        <a href="#home">Home</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        Kontakt: <a href="mailto:marcin.kotynia@makolab.net">Email us</a>
                    </li>
                     <li class="footer-menu-divider">&sdot;</li>
                     <li><a href="callto:+48603099116">+48 603 099 116</a></li>
                     <li><a href="callto:+48426837472">+48 42 683 74 72</a></li>
                </ul>
                <p class="copyright text-muted small">Copyright &copy; {{ site.title }} All Rights Reserved</p>
            </div>
            <div class="col-md-4">
                
            </div>
        </div>
    </div>
</footer>
